<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.norio-nomura.DeliberateGumroad</string>
			<key>Developer Identifier</key>
			<string>PK9GMQ772L</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0</string>
			<key>URL</key>
			<string>https://s3.amazonaws.com/gumroad/files/7bc01784539fce229c218f48d7607773/original/DeliberateGumroad-1.0.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
