<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Norio Nomura</string>
	<key>Builder Version</key>
	<string>7534.54.12</string>
	<key>CFBundleDisplayName</key>
	<string>Deliberate Gumroad</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.norio-nomura.DeliberateGumroad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
		<key>Stylesheets</key>
		<array>
			<string>DeliberateGumroad.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Deliberate Gumroad one minute before 'I want this!'</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>gumroad.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://norio-nomura.github.com/DeliberateGumroad/Manifest.plist</string>
	<key>Website</key>
	<string>http://norio-nomura.github.com/DeliberateGumroad/</string>
</dict>
</plist>
